* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 100%;
}

 @media screen and (max-width: 420px) {
      
      body {
        margin: 0;
      }
 }
   
 .row{
    font-size: 0.8em;
    margin: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0 0.5em;
  }

/* BLOCCO LEZIONI */
#lezioni .row>.left,
#lezioni .row>.right {
  width: 50%;
  float: left;
}

 #lezioni .row img {
    display: block;
    margin-right: auto;
    margin-left: auto;
    height: auto;
    max-width: 30%;
  }

#lezioni {
    background-color:#f1f2cd ;
    padding-bottom: 1em;
  }

 #lezioni .row>.left, #lezioni .row>.right {
    float: none;
    width: 100%;
 }
  

/* BLOCCO STEPS */
#steps .row>.left,
#steps .row>.central,
#steps .row>.right {
  float: left;
  width: 33%;
}

#steps {
  text-align: center;
}

#steps .row img {
    display: block;
    margin-right: auto;
    margin-left: auto;
    height: auto;
    max-width: 40%;
  }

#steps .row>.left, #steps .row>.central, #steps .row>.right{
    float: none;
    width: 100%;
}

/* BLOCCO PERCHE */
 #why {
    background-color:#f1f2cd ;
  }

#why .row>.first,
#why .row>.second,
#why .row>.third {
  width: 100%;
  margin-top: 80px;
}

  #why .row img {
    display: block;
    margin-right: auto;
    margin-left: auto;
    height: auto;
    max-width: 20%;

  }

#why .row>.first, #why .row>.second, #why .row>.third{
    margin-top: 10px;
    }

/* COMMON */
.row::after {
  content: '';
  display: table;
  clear: both;
}

.container.grey {
  background-color: #f9f9f9;
}

img {
  height: 200px;
}

.clear {
  clear: both;
}
